@media (max-width: 600px) {
  .search {
    padding: 1rem;
    gap: 0.5rem;
  }

  .search input {
    flex: 1;
    min-width: 0;
    font-size: 15px;
  }

  .search button {
    flex-shrink: 0;
  }    .movies-grid {
        justify-content: space-between;
        padding: 0.5rem;
    }
     .movies-container {
    padding: 0;
  }

  .movies-grid {
    gap: 1.3rem 0; 
    padding: 3;
  }

  .card {
    width: 48%;
    max-width: none;
    gap: 1rem;
  }
  .single-info {
  flex-wrap: nowrap;
}

.single-info span {
  white-space: nowrap;
}
.single-info:nth-child(3) {
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
}
.info h2 {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}
.popup-container * {padding: 0;}
.popup-container {padding: 2rem;}
.content {
    flex-direction: column;
    top: 450px;
    position: relative;
}
.x-icon {
    top: 10px;
    right: 20px;
}
.right .single-info {
    display: flex;
    justify-content: space-between;
}
}