@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
body {
    background: #474646;
}
::-webkit-scrollbar {
    display: none;
}
.card {
    width: clamp(150px, 95vw, 250px);
    box-shadow: 0 0 .5rem green;
    outline: 2px solid rgba(rgb(2, 66, 2));
    overflow: hidden;
    color: #fff;
    cursor: pointer;
    border-radius: .5rem;
}
.img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
    transition: 200ms ease-in-out transform;
}
.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    background-image: linear-gradient(to top, #151515, transparent);
}
.info {
    padding: 2rem 1rem 1rem;
}
.info h2 {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
}
.single-info {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    font-size: .8rem;
    margin: .2rem 0;
}
.card:hover {
    transform: scale(1.1);
}
.movies-grid {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
}
.movies-container {
    padding: 1rem;
    text-align: center;
    color: whitesmoke;
}
.search {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    margin-top: 2rem;
    padding: 2rem  0 1rem;
}
.search input, .search button {
    padding: .5rem;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid green;
    color: white;
    border-radius: 6px;
}
.search button {
    cursor: pointer;
}
.search button:hover {
    background-color: green;
}
.search button:active {
    transform: scale(.9);
}
.popup-container {
    position: fixed;
    width: 100%;
    height: 100%;
   /* background: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.1)), url(premium_photo-1669759293033-7613de77416c.jpg);*/
    top: 0;
    display: flex;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 3rem;
    overflow-y: scroll;
    /*as default, it will be hidden*/
    transform: scale(0);
    transition: 200ms ease-in-out transform;

}
.content {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    width: 95%;
    margin-top: 10rem;
}
.content .left .single-info {
    font-size: 1rem;
    padding: .5rem 0;
}
.content .left .single-info .heart-icon {
    font-size: 2rem;
    user-select: none;
    cursor: pointer;
}
.content .left .single-info .heart-icon:hover {
    transform: scale(1.1);
}
.content .left .single-info .heart-icon:active {
    transform: scale(.9);
}
.poster-img {
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: 0 0 .5rem green;
    border: 1px solid rgb(2, 66, 2);
}
.poster-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.single-info-container {
    width: 200px;
}
.right > *:not(h1) {
      margin: 1rem;
}
.trailer iframe {
    border: 2px solid rgb(2, 66, 2);
    box-shadow: 0 0 .5rem rgb(2, 66, 2);
    border-radius: .5rem;
    max-width: 400px;
    width: 100%;
    height: 200px;
    
}
.x-icon {
    font-size: 1rem;
    position: absolute;
    top: 60px;
    right: 100px;
    cursor: pointer;
    user-select: none;
}
.x-icon:hover {
     transform: scale(1.3);
}
.x-icon:active {
    transform: scale(1);
}
.show-popup {
    transform: scale(1);
}
.heart-icon {
    color: white;   
    cursor: pointer;
    transition: color 0.3s ease;
}
.heart-icon.change-color {
    color: red;
}

@media only screen and (max-width:800px) {
    .popup-container * {padding: 0rem;}
    .popup-container { padding: 2rem;}
    .content {
        flex-direction: column;
        margin-top: 50rem;
    }
    .x-icon {
        top: 10px;
        right: 20px;

    }
}
