@media (max-width: 600px) {
  .search {
    padding: 1rem;
    gap: 0.5rem;
  }

  .search input {
    flex: 1;
    min-width: 0;
    font-size: 15px;
  }

  .search button {
    flex-shrink: 0;
  }    .movies-grid {
        justify-content: space-between;
        padding: 0.5rem;
    }
     .movies-container {
    padding: 0;
  }

  .movies-grid {
    gap: 1.3rem 0; /* vertical gap only */
    padding: 3;
  }

  .card {
    width: 48%;
    max-width: none;
    gap: 1rem;
  }
  .single-info {
  flex-wrap: nowrap;
}

.single-info span {
  white-space: nowrap;
}
.single-info:nth-child(3) {
    position: relative;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
}
}